## Final Project Submission

Please fill out:
* Student name: Calvin Omwega
* Student pace: Full time
* Scheduled project review date/time: N/A
* Instructor name: Maryann Mwikali
* Blog post URL:N/A

In [13]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 

%matplotlib inline

In [14]:
df = pd.read_csv('tmdb.movies.csv', index_col='Unnamed: 0')

In [9]:
new_df = pd.read_csv('bom.movie_gross.csv')

In [10]:
new_df2 = pd.read_csv('tn.movie_budgets.csv', index_col=0)

In [11]:
conn = sqlite3.connect('im.db')

In [12]:
movie_ratings = pd.read_sql("""
        SELECT * 
            FROM movie_ratings;
""", conn)
movie_ratings.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21